.logo img {
  height: 50px;
  width: 100px;
}

.App {
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}

.socials-container {
  display: flex;
  justify-content: flex-end;
}

Form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

Form label {
  color: #f3f4f6 !important;
}
